{% extends 'base.html.twig' %}

{% block title %}News Feed{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/assets/home.css') }}">
{% endblock %}

{% block body %}
<div class="news-feed">
    <h1>News Feed</h1>

    {% for post in posts %}
        <div class="news-item">
            <h2>{{ post.title }}</h2>
            <p>By {{ post.user }}</p>
            <p>{{ post.content }}</p>

            <div class="comments">
                <h3>Comments</h3>
                {% for comment in post.comments %}
                    <div class="comment">
                        <p><strong>{{ comment.user }}:</strong> {{ comment.content }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="add-comment">
                <form method="post" action="#">
                    <textarea name="comment" placeholder="Add a comment"></textarea>
                    <button type="submit">Comment</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
    